@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: #243e63;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.row__narrow {
    width: 100%
    max-width: 1024px;
    margin: 0 auto;
}

.container {
    padding: 96px 0;
}

a {
    display: inline;
    text-decoration: none;
}

img {
    width: 100%;
}

h1 {
    font-size: 48px;
    color: #1a202c;
    line-height: 1.25;
}

.purple {
    color: #6415ff;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

.section__tag {
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 600;
    text-transform: uppercase;
}

.sectin__title {
    font-size: 48px;
    font-weight: 900;
    color rgb(36, 62, 99);
    line-height: 1.5;
    margin: 16px 0;
    letter-spacing: 0.025em;
}

#features .section__title,
#pricing .section__title {
    text-align: center;
}

.section__para {
  font-size: 18px;
  font-weight: 500;
  color: #7c8ba1;
  line-height: 1.625;
}
.btn {
  background-color: #6415ff;
  padding: 12px 32px;
  border: none;
  border-radius: 500px;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  transition: all 300ms;
}
.btn:hover {
  background-color: rgba(80, 17, 204);
}
button {
  cursor: pointer;
  border: none;
}

body {
    display: black;
    margin: 8px;
}

section {
    padding: 0 32px;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: #243e63;
}

section {
    display: black;
    unicode-bidi: isolate;
}

nav {
    padding-top: 32px;
    display: flex;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Robot", sans-serif;
    color: #243e63;
}

nav {
    display: black;
    unicode-bidi: isolate;
}

.nav__row {
    display: flex;
    justify-content: speace-between;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: #243e63;
}

div {
    display: block;
    unicode-bidi: isolate;
}

@media (max-width: 640px) {
    .nav__log {
        margin: 8px 0;
        padding-bottom: 4px;
    }
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: #243e63;
}

div {
    display: block;
    unicode-bidi: isolate;
}

.nav__logo--img {
    height: 40px;
    width: 40px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: #243e63;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.nav__logo--title {
    font-weight: 900;
    font-size: 24px;
    margin-left: 12px;
    padding-bottom: 2px;
    letter-spacing: 0.6px
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: #243e63;
}

div {
    display: block;
    unicode-bidi: isolate;
}

/* NAV BAR */
.nav__link {
    font-size: 14px;
    font-weight: 600;
    padding-top: 4px;
    letter-spacing: 0.35px;
    border-bottom: 2px solid transparent;
    position: relative;
    transition: all 300ms;
}

.nav__link {
    margin: 0 24px;
      
}

* {
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: 243e63;
}

a:-webkit-any-link {
    cursor: pointer;
      
}
    .nav__link:after {
        content: "";
        position: aboslute;
        left: 0;
        bottom: -6px;
        height: 2px;
        width: 100%;
        background: #6415ff;
        transition: all 300ms ease;
        opacity: 0;
    }

    .login {
        margin-left: 48px;
    }

    .nav__link--primary {
        color: rgb(255, 255, 255);
        background-color: rgb(100, 21, 255);
        line-height: 1.5;
        width: auto;
        margin: 2px 0px 0px;
        padding: 10px 32px;
        border-radius: 9999px;
        border-width: initial;
        border-style: none;
        border-color: initial;
        border-image: initial;
        transition: 300ms;
    }

    .nav__link {
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.35px;
        position: relative;
    }

    a {
        display: inline;
        text-decoration: none;
    }

    *{
        box-sizing: border-box;
        font-family: "Roboto", sans-serif;
    }

    a: webkit-any-link {
        cursor: pointer;
    }

    .nav__link:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -6px;
        height: 2px;
        width: 100%;
        background: #6415ff;
        transition: all 300ms ease;
        opacity: 0;
    }

    @media (max-width: 1024px) {
        .nav__links {
            display: none;
        }
    }

    .nav__links {
        align-items: center;
        padding-bottom: 2px;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Roboto", sans-serif;
        color: #243e63;
    }

    div {
        unicode-bidi: isolate;
    }

    @media (max-width: 1024px) {
        .btn__menu {
            display: block;
        }
    }

    .btn__menu {
        background-color: transparent;
        border: none;
        transition: all 300ms ease;
    }

    button {
        cursor: pointer;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Roboto", sans-serif;
        color: #243e63;
    }

    button {
        appearance: auto;
        text-rendering: auto;
        letter-spacing: normal;
        word-spacing: normal;
        line-height: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        text-align: center;
        padding-block: 1px;
        padding-inline: 6px;

    }
  
/* NAV BAR END */